## Session 22: CSV Files && SQLite
# 19.04.2022

Gerçek dünyada verilerin kod içerisinde oluşturulmasıyla seyrek karşılaşılmaktadır. Analiz edilecek edilecek veriler ya dosyalardan okunmakta ya da başka bir ortamdan (örneğin bir dosya, veritabanı, web ortamı gibi) alınmaktadır. Tabii en yaygın karşılaşılan durum verilerin bir text dosyadan alınmasıdır. Text dosyalarda veriler ya tablosal biçimde yani satır satır ya da düz biçimde bulunmaktadır. Tablosal biçimde veriler dosyalarda genellikle aralarına ',' karakteri ya da TAB karakter getirilerek satır satır bulundurulmaktadır. Bilindiği gibi aralarına ',' karakteri getirilerek tablosal biçimde oluşturulmuş olan dosyalara CSV dosyaları denilmektedir.

In [3]:
with open("/home/bc/pythonProjeleri/fruits.csv", "r", encoding="utf-8") as f:
    print(f.read())

no,fruit,amount
1,Banana,4 lb
2,Orange,5 lb
3,Apple,2 lb
4,Strawberry,6 lb
5,Cherry,3 lb

In [18]:
import csv
with open("/home/bc/pythonProjeleri/fruits.csv", "r", newline='') as f:
    oku = csv.reader(f)
    for line in oku:
        print(line)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']

In [21]:
import csv
with open("/home/bc/pythonProjeleri/fruits.csv", "r", newline='') as f:
    print(csv.reader(f))

<_csv.reader object at 0x7f650c083580>

In [25]:
import csv
with open("/home/bc/pythonProjeleri/fruits.csv", "r", newline='') as f:
    iter(csv.reader(f))
    print(next(csv.reader(f)))
    print(next(csv.reader(f)))  ##...

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']

In [20]:
import csv
with open("/home/bc/pythonProjeleri/fruits.csv", "r", newline='') as f:
    oku = csv.reader(f, delimiter=':')  #yoksa
    for line in oku:
        print(line)

['no,fruit,amount']
['1,Banana,4 lb']
['2,Orange,5 lb']
['3,Apple,2 lb']
['4,Strawberry,6 lb']
['5,Cherry,3 lb']

In [19]:
import csv
with open("/home/bc/pythonProjeleri/fruits.csv", "r", newline='') as f:
    oku = csv.reader(f, delimiter=',')
    for line in oku:
        print(','.join(line))

no,fruit,amount
1,Banana,4 lb
2,Orange,5 lb
3,Apple,2 lb
4,Strawberry,6 lb
5,Cherry,3 lb

In [8]:
with open("/home/bc/pythonProjeleri/personel.csv") as f:
    print(f.read())

num, first_name, last_name, ages
1, ali, koç, 37
2, vefa, dede, 45
3, salih, aksu, 56
4, ayşe, kar, 34
5, ahmet, duru, 78

In [27]:
import csv
with open("/home/bc/pythonProjeleri/personel.csv") as f:
    oku = csv.reader(f, delimiter=',')
    for line in oku:
        print(line)

['num', ' first_name', ' last_name', ' ages']
['1: ali: koç: 37']
['2: vefa: dede: 45']
['3: salih: aksu: 56']

In [28]:
import csv
with open("/home/bc/pythonProjeleri/personel2.csv") as f:
    oku = csv.reader(f, delimiter=':')
    for line in oku:
        print(line)

['num, first_name, last_name, ages']
['1', ' ali', ' koç', ' 37']
['2', ' vefa', ' dede', ' 45']
['3', ' salih', ' aksu', ' 56']

In [17]:
with open("/home/bc/pythonProjeleri/personel.csv", "a") as f:
    f.write('\n6, alim, koç, 37')
    f.write('\n7, veli, ak, 37')

In [ ]:
"C:\\home\\bcd\\...\fruits.csv" ## windows kullanıcıları için \\ bunun çıktısı: \

In [31]:
import csv
yenikayit =[['4', ' volkan', ' ok', ' 37'],
            ['5', ' vali', ' caach', ' 73']]

with open("/home/bc/pythonProjeleri/personel2.csv", 'a', newline='') as f:
    yaz = csv.writer(f)  ##yaz ismli nesne oluştur
    yaz.writerows(yenikayit)

In [33]:
import pandas as pd
df = pd.read_csv("/home/bc/pythonProjeleri/personel2.csv")
print(df)

   num  first_name  last_name   ages
0    1         ali        koç     37
1    2        vefa       dede     45
2    3       salih       aksu     56
3    4      volkan         ok     37
4    5        vali      caach     73

In [40]:
##csv dosyasına veri yazmak with pandas
import pandas as pd
veri = {'il': ['artvin', 'samsun', 'istanbul', 'ankara'],
        'plaka': [8, 55, 34, 6]}
##dataframe : tablo halinde veri çerçevesi
df = pd.DataFrame(veri) ##pandas okuyacağı formata dönüştürdü...
df.to_csv("iller.csv") 
print(df['il'])
print(df)

0      artvin
1      samsun
2    istanbul
3      ankara
Name: il, dtype: object
         il  plaka
0    artvin      8
1    samsun     55
2  istanbul     34
3    ankara      6

In [47]:
##csv dosyasına veri yazmak with pandas
import pandas as pd
veri = {'il': ['ankara', 'izmir'],
        'plaka': [16, 35 ]}
##dataframe : tablo halinde veri çerçevesi
df = pd.DataFrame(veri) ##pandas okuyacağı formata dönüştürdü...
df.to_csv("iller.csv", mode="a") 
print(df)

       il  plaka
0  ankara     16
1   izmir     35

PYTHON -sqlite veri tipleri:
int     --> INTEGER
float   --> REAL
str     --> TEXT
None    --> NULL
bytes   --> BLOB

In [ ]:
#sqlite bir VTYS(DBMS): sqlite3
import sqlite3  #1. paketi import edelim
conn = sqlite3.connect('personel.db') #2. vt ile bağlantı kurar yoksa oluşturur
cur = conn.cursor()                   #3. imleç/kürsor nesnesi oluştur
##4. varsa sorgular çalışıtırılır
sql = cur.execute("SELECT * FROM personel")
##5. vt güncellenir
conn.commit()
##6. vt kapatılır
conn.close()

In [48]:
#sqlite bir VTYS(DBMS): sqlite3
import sqlite3  #1. paketi import edelim
conn = sqlite3.connect('personel.db') #2. vt ile bağlantı
cur = conn.cursor()                   #3. imleç/kürsor nesnesi oluştur
##4. varsa sorgular çalışıtırılır
#tablo oluşttu
cur.execute("""CREATE TABLE musteri
               (no INTEGER PRIMARY KEY, name TEXT, adres TEXT)""")
#kayıtlar
records = [(1,'Ali Koç', 'Toronto'),
           (2, 'Veli Dede', 'İstanbul')]
## müşteri tablosunda 
cur.executemany('INSERT INTO musteri VALUES (?,?,?)', records)

##5. vt güncellenir
conn.commit()
##6. vt kapatılır
conn.close()

In [49]:
#sqlite bir VTYS(DBMS): sqlite3
import sqlite3  #1. paketi import edelim
conn = sqlite3.connect('personel.db') #2. vt ile bağlantı
cur = conn.cursor()                   #3. imleç/kürsor nesnesi oluştur
sql = cur.execute("SELECT * FROM musteri")
for line in sql:
    print(line)
##5. vt güncellenir
conn.commit()
##6. vt kapatılır
conn.close()

(1, 'Ali Koç', 'Toronto')
(2, 'Veli Dede', 'İstanbul')

In [51]:
#sqlite bir VTYS(DBMS): sqlite3
import sqlite3  #1. paketi import edelim
conn = sqlite3.connect('personel.db') #2. vt ile bağlantı
cur = conn.cursor()                   #3. imleç/kürsor nesnesi oluştur
records = [(3,'Ayşe Eda', 'Tarsus'),
           (4, 'Seda Sayan', 'Tokat')]
cur.executemany('INSERT INTO musteri VALUES (?,?,?)', records)
##5. vt güncellenir
conn.commit()
##6. vt kapatılır
conn.close()

In [54]:
#sqlite bir VTYS(DBMS): sqlite3
import sqlite3  #1. paketi import edelim
conn = sqlite3.connect('personel.db') #2. vt ile bağlantı
cur = conn.cursor()                   #3. imleç/kürsor nesnesi oluştur

cur.execute('INSERT INTO musteri VALUES ' 
            "(5, 'Volkan', 'Hoca')")
##5. vt güncellenir
conn.commit()
##6. vt kapatılır
conn.close()

In [56]:
#sqlite bir VTYS(DBMS): ada göre sırala
import sqlite3  #1. paketi import edelim
conn = sqlite3.connect('personel.db') #2. vt ile bağlantı
cur = conn.cursor()                   #3. imleç/kürsor nesnesi oluştur

for sorgu in cur.execute('select * from musteri order by name'):
    print(sorgu)
##5. vt güncellenir
conn.commit()
##6. vt kapatılır
conn.close()

(1, 'Ali Koç', 'Toronto')
(3, 'Ayşe Eda', 'Tarsus')
(4, 'Seda Sayan', 'Tokat')
(2, 'Veli Dede', 'İstanbul')
(5, 'Volkan', 'Hoca')

In [57]:
#sqlite bir VTYS(DBMS): adresi T ile başlayanları listele
import sqlite3  #1. paketi import edelim
conn = sqlite3.connect('personel.db') #2. vt ile bağlantı
cur = conn.cursor()                   #3. imleç/kürsor nesnesi oluştur

for sorgu in cur.execute('select * from musteri where adres like "T%"'):
    print(sorgu)
##5. vt güncellenir
conn.commit()
##6. vt kapatılır
conn.close()

(1, 'Ali Koç', 'Toronto')
(3, 'Ayşe Eda', 'Tarsus')
(4, 'Seda Sayan', 'Tokat')

In [60]:
#sqlite bir VTYS(DBMS): adresi hoca olanı 'hocalı'
import sqlite3  #1. paketi import edelim
conn = sqlite3.connect('personel.db') #2. vt ile bağlantı
cur = conn.cursor()                   #3. imleç/kürsor nesnesi oluştur

sql = cur.execute('UPDATE musteri SET adres="Hocalı" WHERE adres="Hoca"')
##5. vt güncellenir
conn.commit()
for sorgu in cur.execute('select * from musteri order by name'):
    print(sorgu)
##6. vt kapatılır
conn.close()

(1, 'Ali Koç', 'Toronto')
(3, 'Ayşe Eda', 'Tarsus')
(4, 'Seda Sayan', 'Tokat')
(2, 'Veli Dede', 'İstanbul')
(5, 'Volkan', 'Hocalı')

In [61]:
## veri tabanından kayıt silme
#sqlite bir VTYS(DBMS): adresi hoca olanı 'hocalı'
import sqlite3  #1. paketi import edelim
conn = sqlite3.connect('personel.db') #2. vt ile bağlantı
cur = conn.cursor()                   #3. imleç/kürsor nesnesi oluştur

sql = cur.execute('DELETE FROM musteri WHERE no=5')
##5. vt güncellenir
conn.commit()
for sorgu in cur.execute('select * from musteri order by name'):
    print(sorgu)
##6. vt kapatılır
conn.close()

(1, 'Ali Koç', 'Toronto')
(3, 'Ayşe Eda', 'Tarsus')
(4, 'Seda Sayan', 'Tokat')
(2, 'Veli Dede', 'İstanbul')

In [64]:
#sqlite bir VTYS(DBMS): sqlite3
import sqlite3  #1. paketi import edelim
conn = sqlite3.connect('personel.db') #2. vt ile bağlantı
cur = conn.cursor()                   #3. imleç/kürsor nesnesi oluştur
##4. varsa sorgular çalışıtırılır
#tablo oluşttu
#cur.execute("""CREATE TABLE satışlar
#               (num INTEGER PRIMARY KEY, marka TEXT, miktar REAL)""")
#kayıtlar
records = [(1,'ZARA', 56000),
           (2, 'LCW', 4440)]
## müşteri tablosunda 
cur.executemany('INSERT INTO satışlar VALUES (?,?,?)', records)

##5. vt güncellenir
conn.commit()
##6. vt kapatılır
conn.close()

In [68]:
print(f"{'No':<20}{'Adı Soyadı'}\n")

No                  Adı Soyadı

In [66]:
print(f"{'No':^10}{'Adı Soyadı'}\n")

    No    Adı Soyadı

In [69]:
print(f"{'No':>20}{'Adı Soyadı'}\n")

                  NoAdı Soyadı