<p align="center">
<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="600" height="120" >
</p>

In [ ]:
import sys
surum = sys.version
print(surum)

<h1><p style="text-align: center; color:blue">Python In-Class Session 4, <br>15 February 2022</p><h1>

In [2]:
num1 = int(input("Sayı-1 ..: "))
num2 = int(input("Sayı-2 ..: "))

msj_baslik = "***\tHesap Makinem\t***"
msj_tire = "---------------------------"
print (msj_baslik, "\n", msj_tire)
print ("Sayılar\t..:", num1, "ve", num2)
print("Toplamı\t..:", num1 + num2)
print("Farkı\t..:", num1 - num2)
print("Çarpımı\t..:", num1 * num2)
print("Bölümü\t..:", num1 / num2)
print("Mod(",num1,"%", num2,")..: ", num1%num2, sep="")
print("1.sayının karesi\t..:", pow(num1,2))
print("1.sayının karekökü\t..:", pow(num1,0.5))

Sayı-1 ..: 3
Sayı-2 ..: 5
***	Hesap Makinem	***
 ---------------------------
Sayılar	..: 3 ve 5
Toplamı	..: 8
Farkı	..: -2
Çarpımı	..: 15
Bölümü	..: 0.6
Mod(3%5)..: 3
1.sayının karesi	..: 9
1.sayının karekökü	..: 1.7320508075688772

In [15]:
print(not 0 and "write me")

write me

In [25]:
# Bir A değişkeninin içeriğini 5 farklı yol ile ekrana yazdırabiliriz.
A = 1453
print("Tarih..:", A)
print("Tarih..: " + str(A))
print("Tarih..: {}".format(A))
print(f"Tarih..: {A}")
print("Tarih..: %d" %A)

Tarih..: 1453
Tarih..: 1453
Tarih..: 1453
Tarih..: 1453
Tarih..: 1453

In [17]:
str_one = 'upper'
str_two = 3 * 'upper'
str_comb = str_one * 3
print(str_two)
print(str_comb)
print(str_one*3)

upperupperupper
upperupperupper
upperupperupper

In [18]:
str_one = 'upper'
str_two = 3 * 'upper'
str_comb = str_one * 3
print(str_two)
print(str_comb)
print(* str_one)

upperupperupper
upperupperupper
u p p e r

In [20]:
city = "Phoenix"

print(city[1:])
print(city[:6])
print(city[::2])
# print(city[1::0]) #adım miktarı(step) 0 olamaz!
print(city[-3:])
print(city[::-1])

hoenix
Phoeni
Ponx
nix
xineohP

In [ ]:
city = "Phoneix"
print(city[0])  # return first data/element
print(city[-1])  # return last data/element
print(city[::-1])  # reverses the string
print(city[:])  # string

P
x
xienohP
Phoneix

In [ ]:

animal = "Hippopotamus"

print(animal[1:])
print(animal[:6])
print(animal[::2])
print(animal[1:7:2])
print(animal[-3:])
print(animal[::-1])

ippopotamus
Hippop
Hpooau
ipp
mus
sumatopoppiH

In [ ]:
fruit = "Orange"
vegetable = 'Tomato'
amount = 4

print("The amount of {} we bought is {} pounds".format(fruit, amount, vegetable))

The amount of Orange we bought is 4 pounds

In [22]:

fruit = "Orange"
vegetable = 'Tomato'
amount = 4

print("The amount of {} we bought is {} pounds".format(fruit))

IndexError: ignored

In [ ]:
fruit_vegetable_amount = "Orange", 'Tomato', 4, 6, "ali"
fruit_vegetable_amount

('Orange', 'Tomato', 4, 6, 'ali')

In [ ]:
fruit, vegetable, amount = "Orange", 'Tomato', (4, "ali")
fruit, vegetable, amount

('Orange', 'Tomato', (4, 'ali'))

In [ ]:
print('{state} is the most {adjective} state of the {country}'.format(state="California", country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [ ]:
print('{0} is the most {2} state of the {1}'.format("California", 'USA', 'crowded'))

California is the most crowded state of the USA

In [ ]:

print("{6} {5} {0} {1} {3} {4} {2}".format("a new", "job", "months", "in", 6, "have started", "I will"))

I will have started a new job in 6 months

In [ ]:
phrase = '{} {} {} {}'.format('circumstances', 'in all', 'generosity', 'wins')
print(phrase)

circumstances in all generosity wins

In [3]:
sample = f"{2 ** 3}"

print(sample)

8

In [4]:
sample = f"2 ** 3 = {2 ** 3}"

print(sample)

2 ** 3 = 8

In [ ]:
condition = 'circumstances'
morality = 'generosity'

phrase = '{} {} {} {}'.format(condition, 'in all', morality, 'wins')
print(phrase)

circumstances in all generosity wins

In [14]:
phrase = '{2} {0} {1} {3}'.format('circumstances', 'in all', 'generosity', 'wins')
print(phrase)

generosity circumstances in all wins

In [ ]:

name = 'Joseph'
job = "teachers"
domain = 'Data Science'

message = (
    f"Hi {name}."
    f'You are one of the {job}'
    f'in the {domain} section...'
)

print(message)

Hi Joseph.You are one of the teachersin the Data Science section...

In [ ]:

name = 'Joseph'
job = "teachers"
domain = 'Data Science'

message = f"Hi {name}."\
    f'You are one of the {job}'\
    f'in the {domain} section...'

print(message)

Hi Joseph.You are one of the teachersin the Data Science section...

In [ ]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"

output = (
	f"{name} is a {age} "
	f"{gender} and she is a student "
	f"at the {school}."
)
print(output)

Susan is a young lady and she is a student at the CLRWY IT university.

In [ ]:
word = 'clarusway'
n = 3
front = word[:n]
back = word[n+1:]
print(front + back)

clausway

In [ ]:
# Hello! I am a new programmer and I love Clarusway.
text = "{}! I am a {} programmer and I {} Clarusway".format("Hello", "new", "love")
print(text, end=".")

Hello! I am a new programmer and I love Clarusway.

**Stringin herhangi bir karakterini değiştirme **

In [ ]:
"""
Question: Bir stringin (karakter dizisinin) herhangi bir elemanı, city[2]= 'y' şeklinde doğrudan değiştirilebilir mi?
"""
city = "Phoneix"
city = city[:2] + "y" + city[3:]
print(city)

Phyneix

In [1]:
# method-2
city = "Phoenix"
city = city.replace("o", "y")
print(city)

Phyenix

In [ ]:
# method-3
city = "Phoneix"
city2 = list(city)
city2[2] = "y"
print(*city2)

P h y n e i x

In [6]:
_name = "MARIAM"
output = f"My name is {_name.capitalize()}"

print(output)

My name is Mariam

In [8]:
_name = "PYTHON LANGUAGE"
print(_name.capitalize())
print(_name.title())

Python language
Python Language

In [13]:
_name = "pYTHON lANGUAGE"
print(_name.swapcase())

Python Language

In [9]:
_name = "PYTHON LANGUAGE"
print(len(_name)) # karakter uzunluğu
print(_name.count('A')) # string içerisinde geçen 'A' karakteri sayısı

15
2

In [11]:
_name = "PYTHON LANGUAGE"
print(_name.find('A')) # 'A' karakterinin pozisyonu/indisi
print(_name.index('A')) # 'A' karakterinin pozisyonu/indisi

8
8

In [12]:
# Bir metindeki kelime ve harf sayısını bulalım
words = "Bir metindeki kelime ve harf sayısını bulalım."
bosluk_sayisi = words.count(' ')  # space karakterlerini say
nokta_sayisi = words.count('.')
harf_sayisi = len(words) - bosluk_sayisi -nokta_sayisi
print("Harf Sayısı..:", harf_sayisi)
print("Kelime Sayısı..:", bosluk_sayisi+1)

Harf Sayısı..: 39
Kelime Sayısı..: 7